.burger_menu {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: fit-content;
  width: 20%;
  height: 100%;
  background-color: aliceblue;
  border-right: 2px solid #aaa;
  z-index: 100;
  transition: 0.7s;
  transform: translateX(-500px);
}

.logo {
  cursor: pointer;
  width: 40px;
  padding: 6px 8px;
  background: #b3d4fc;
  border-radius: 12px;
  transition: 0.3s;
  margin-left: 3em;
  margin-top: 2em;
}

.logo:hover {
  transform: scale(1.2);
}

.show_menu {
  transform: translateX(0px);
}

.burger_menu .logo {
  width: fit-content;
  width: -moz-fit-content;
  color: #444444;
  margin: 2.7em auto;
}

.menu {
  padding: 0 1em 1em;
}

.menu li {
  list-style: none;
  border-bottom: 1px solid #aaa;
  padding: 20px 0;
  text-align: center;
}

.menu li:last-child {
  border-bottom: none;
}

.menu li a {
  color: #444444;
  transition: 0.3s;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  border-radius: 14px;
  padding: 4px 12px;
}

.menu li a:hover {
  background-color: #b3d4fc;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
  .menu li a {
    font-size: 14px;
  }
}

@media screen and (max-width: 350px) {
  html {
    font-size: 10px;
  }
  .menu li a {
    font-size: 12px;
  }
}
